h1,p {
    text-align: center;
}

#memory {
    background: black;
    width: 700px;
    height: 610px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 160px);
    grid-gap: 20px;
    
}

img {
    width: 120px;
    height: 120px;
    
}

span {
    height: 190px;
}