body {
    height: 100vh;
    background: #060AB2;
    display: flex;
}
.memory-game {
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
}
.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
 